name: Build

on:
  pull_request:
    paths:
      - '**.c'
      - '**.h'
      - '**.in'
      - '**.po'
      - .github/workflows/ci.yml
      - .github/ci-test.sh
  push:


jobs:
  macos:
    runs-on: macos-15
    steps:
    - uses: actions/checkout@v6
    - run: .github/build.sh macos

  ubuntu:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v6
    - run: .github/build.sh ubuntu
    - uses: actions/upload-artifact@v4
      with:
        name: pam_p11
        path:
          pam_p11*.tar.gz
    - run: sudo apt install softhsm2 opensc
    - run: .github/ci-test.sh

  ubuntu-libressl:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v6
    - run: .github/build.sh ubuntu
    - run: sudo apt install softhsm2 opensc
    - run: .github/setup-libressl.sh
    - run: .github/ci-test.sh
