name: Coverity Scan

# We only want to test master or explicitly via coverity branch
on:
  push:
    branches: [master, coverity]


jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v6
    - run: .github/build.sh coverity
    - uses: vapier/coverity-scan-action@v0
      with:
        project: OpenSC%2Fpam_p11
        token: ${{ secrets.COVERITY_SCAN_TOKEN }}
        email: 'frankmorgner@gmail.com'
